@charset "UTF-8";
@import "contrib/compass/css3";
@import "contrib/compass/utilities";

// IMPORT CONFIG FILES (THESE CONTAIN VARIABLE DEFINITIONS)
@import "config/common";
@import "config/typography";
@import "config/colors";
@import "config/alerts";
@import "config/buttons";
@import "config/classnames";
@import "config/forms";
@import "config/grid";
@import "config/labels";
@import "config/badges";
@import "config/navigation";
@import "config/tables";
@import "config/images";
@import "config/js";

// IMPORT CONFIG FILES (THESE CONTAIN VARIABLE DEFINITIONS)
@import "mixins/quick-start";

@include generate-quick-start($grid-breakpoints);

html, body, .minum, .fader {
	animation: all linear 1s;
}

.justi {
	p {
		text-align: justify;
	}
}

h1, h2, h3, h4, h5, h6 {
	&.white {
		color : $white;
	}
}

.toBisel {
	flex-direction: row;
	display: flex;
	flex: 1 0 auto;
	.all-50 {
		flex: 1 1 0%;
	}
	.bisel {
		border-style : solid;
		border-width : 2em;
		border-color : $white;

		h1, h2, h3, h4, h5, h6 {
			color : $white;
		}

		&.all-50 {
			flex: 0 0 50%;
		}
		&.all-15 {
			flex: 0 0 15%;
		}
		&.orange {
			border-left-color : shade($orange,25%);
			border-right-color : shade($orange,25%);
			background-color: shade($orange,30%);
			border-top-width: 0;
			&.done {
				border-top-width: 2em;
			}
		}
		&.blue {
			border-left-color : shade($blue,25%);
			border-right-color :shade($blue,25%);
			background-color: shade($blue,30%);
		}
	}
}

.orange {
	background: $orange;
	color: $white;
}

text {
	font-family : $sans-serif-font-stack;
	&.medi {
		font-size : 11.5px;
	}
	&.fill-white {
		fill : $white;
		font-size : 13.1289px;
		&.big {
			font-size : 16px;
		}
	}
}


.blue {
	background: $blue;
	color : $white;
}

.hand {
	cursor: pointer;
	text-decoration: none;
	circle, path {
		fill : $white;
	}

	&:hover {
		text-decoration: none;
		circle, path {
			fill : $orange;
		}
	}
}

.minum {
	position: fixed;
	overflow: hidden;
	background-color: rgba(256,256,256,0.9);
	z-index: 10000;
}

.image-carusel {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


ul.menu.horizontal.black {
	z-index: 1000;
}

.showdrop {
	filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

ul {

	&.select {
		list-style-type: none;
		p {
			color : $blue;
		}
		.circule {
			height: 2em;
			width: 2em;
			min-height: 2em;
			min-width: 2em;
			border: solid $black;
			@include border-radius( 50%);
			.true-check {
				height: 1em;
				width: 1em;
				min-height: 1em;
				min-width: 1em;
				background-color: $orange;
				margin-left: 0.33em;
				margin-top: 0.33em;
				@include border-radius( 50%);
			}
		}
	}
}