ul.text
	li ¿Te gusta la tecnologia y los medios digitales?
	li ¿Sabias que esta area compatible con cualquier profesión?

p.align-center Si respondiste #[b si] a cualquiera de estas dos preguntas, debes saber #[b esta que oportunidad esta al alcance de todos.]

h4.color-blue.align-center Elige el laboratorio que quieres aprender