.double-vertical-padding.all-100.form-ng
	.ng-grid
		h1.align-center Gracias a tú ayuda capacitaremos y becaremos a más personas
		h2 Sigue estos faciles pasos...

	ul.unstyled.no-margin
		li.all-100.blue.sub-screen: .ng-grid: .column-group.toBisel
			.all-15.bisel.blue.align-center.hide-all.show-medium.show-large.show-xlarge
				h3.no-margin.quarter-vertical-padding.all-100 1
					p.small.no-margin paso
			.all-85.half-padding.medium-80.control-group.small-100.tiny-100
				label( for="values" ) Escribe el monto a partir de $15 USD
				.control.required: input.half-padding#values( placeholder="30", type="number", ng-model="d.value", ng-required, min=15 )
		li.all-100.blue.sub-screen#step2: .ng-grid: .column-group.toBisel
			.all-15.bisel.blue.align-center.hide-all.show-medium.show-large.show-xlarge
				h3.no-margin.quarter-vertical-padding.all-100 2
					p.small.no-margin paso
			.all-85.half-padding.medium-80.control-group.small-100.tiny-100
				label ¿Qué forma de pago deseas?
				.control.required.ng-hide.all-hide
					input#liena( type="radio", name="isbay", value="liena", ng-model="d.isbay", ng-required )
					input#manual( type="radio", name="isbay", value="manual", ng-model="d.isbay", ng-required )
				.button-group
					label.ng-button.all-50( class="{{d.isbay === 'liena' ? 'orange' : 'blue' }}" for="liena" ) En linea/Tarjeta
					label.ng-button.all-50( class="{{d.isbay === 'manual' ? 'orange' : 'blue' }}" for="manual" ) Consignacion

		li.all-100.blue#step3( ng-if="d.isbay" ): .ng-grid: .column-group.toBisel
			.all-15.bisel.blue.align-center.hide-all.show-medium.show-large.show-xlarge
				h3.no-margin.quarter-vertical-padding.all-100 3
					p.small.no-margin paso
			.all-85.half-padding.medium-80.control-group.small-100.tiny-100( ng-if="d.isbay === 'manual'" )
				h4 bar
				p foo

			.all-85.half-padding.medium-80.control-group.small-100.tiny-100( ng-if="d.isbay === 'liena'" )
				label Ingresa los datos del medio de pago
				.control.required.ng-hide.all-hide
					input#paypal( type="radio", name="isType", value="paypal", ng-model="d.isType", ng-required )
					input#card( type="radio", name="isType", value="card", ng-model="d.isType", ng-required )
				.button-group
					label.ng-button.all-50( class="{{d.isType === 'paypal' ? 'orange' : 'blue' }}" for="paypal" ) Paypal
					label.ng-button.all-50( class="{{d.isType === 'card' ? 'orange' : 'blue' }}" for="card" ) Tarjeta


		li.all-60.small-100.tiny-100.medium-90.push-center.sub-screen( ng-if="d.isbay === 'liena' && d.isType === 'card'" ): .ng-grid
			h4 Tarjeta de crédito
			.control-group.half-bottom-space
				label( for="num" ) Número de tarjeta
				.control.required: input.all-100.half-padding#num( placeholder="Numero", type="number", ng-model="d.card.num", ng-required )
			.column-group.gutters
				.all-50.control-group
					label.all-100 Fecha de nacimiento
					.column-group.gutters
						.control.all-50.required
							input.all-100.half-padding#mes( placeholder="6", type="number", ng-model="d.card.mes", ng-required, max=12, min=1 )
						.control.all-50.required
							input.all-100.half-padding#ano( placeholder="2017", type="number", ng-model="d.card.ano", ng-required, max=2050, min=2015 )
				.all-50.control-group
					label( for="cvs" ) Codigo de seguridad
					.control.required: input.all-100.half-padding#cvs( placeholder="111", type="number", ng-model="d.card.cvs", ng-required  )

	ul.unstyled.no-margin#step4( ng-if="d.isbay === 'liena' && d.isType === 'card'" )
		li.all-100.blue: .ng-grid: .column-group.toBisel
			.all-15.bisel.blue.align-center.hide-all.show-medium.show-large.show-xlarge
				h3.no-margin.quarter-vertical-padding.all-100 4
					p.small.no-margin paso
			.all-85.half-padding.medium-80
				h2.white.half-vertical-padding.no-margin Personaliza el Certificado

		li.all-60.small-100.tiny-100.medium-90.push-center.vertical-space: .ng-grid
			.control-group
				label.ng-hide.all-hide( for="name" ) Nombre o Razón Social
				.control.required: input.half-padding#name( placeholder="Nombres y Apellidos", type="text", ng-model="d.name" )
			.control-group
				label.ng-hide.all-hide(for="email") Correo electrónico *
				.control.required: input.half-padding#email( placeholder="E-Mail *", type="email", ng-model="d.email", ng-required  )
			.control-group
				label.ng-hide.all-hide( for="nit" ) Documentos de Identidad (CC, NIT, RUC, DNI, CEX)
				.control.required: input.half-padding#nit( placeholder="NIT", type="text", ng-model="d.nit" )
			p.tip Requerido *

	.all-60.push-center.double-vertical-space( ng-if="d.isbay === 'liena' && d.isType" ): .ng-grid
		a.all-100.ng-button.orange( ng-show="d.isType === 'paypal'", href="http://paypal.com/donar" )
			h3.white.no-margin.half-padding Pagar!
		button.all-100.ng-button.orange( ng-show="d.isType === 'card'" ng-click="d.pay()" )
			h3.white.no-margin.half-padding Pagar!

