.double-vertical-padding.all-100
	.ng-grid
		h1
		h2

	ul.unstyled.no-margin
		li.all-100.blue.double-vertical-space: .ng-grid: .column-group.toBisel
			.all-15.bisel.blue.align-center
				h3.no-margin.half-vertical-padding 1
					p.small.no-margin paso
			.all-85.half-padding
				.control-group
					label( for="values" ) Nombre
					.control.required: input.half-padding#values( placeholder="30", type="number", ng-model="d.value", ng-required, min=15 )
		li.all-100.blue.double-vertical-space: .ng-grid: .column-group.toBisel
			.all-15.bisel.blue.align-center
				h3.no-margin.half-vertical-padding 2
					p.small.no-margin paso
			.all-85.half-padding
				.control-group
					label( for="values" ) Nombre
					.control.required.button-group
						label.ng-button.all-33( class="{{d.wh === 'liena' ? 'orange' : 'blue' }}" for="liena" ) En linea
						label.ng-button.all-33( class="{{d.wh === 'manual' ? 'orange' : 'blue' }}" for="manual" ) Consignacion
						input.ng-hide.all-hide#liena( type="radio", name="wh", value="liena", ng-model="d.wh", ng-required )
						input.ng-hide.all-hide#manual( type="radio", name="wh", value="manual", ng-model="d.wh", ng-required )

		li.all-100.blue.double-vertical-space: .ng-grid: .column-group.toBisel
			.all-15.bisel.blue.align-center
				h3.no-margin.half-vertical-padding 3
					p.small.no-margin paso
			.all-85.half-padding( ng-if="d.wh === 'manual'" )
				.control-group
					label.ng-hide.all-hide( for="values" ) Nombre
					.control.required: input.half-padding#values( placeholder="30", type="number", ng-model="d.value", ng-required, min=15 )

			.all-85.half-padding( ng-if="d.wh === 'liena'" )
				.control-group
					label.ng-hide.all-hide( for="values" ) Nombre
					.control.required: input.half-padding#values( placeholder="30", type="number", ng-model="d.value", ng-required, min=15 )

	ul.unstyled.no-margin( ng-if="d.wh === 'liena'" )
		li.all-100.blue.double-vertical-space: .ng-grid: .column-group.toBisel
			.all-15.bisel.blue.align-center
				h3.no-margin.half-vertical-padding 4
					p.small.no-margin paso
			.all-85.half-padding
				.control-group
					label.ng-hide.all-hide( for="values" ) Nombre
					.control.required: input.half-padding#values( placeholder="30", type="number", ng-model="d.value", ng-required, min=15 )


	.column-group.gutters
		.all-50
			h1(  ) joder
			p {{d |json}}
		form.all-50.form-ng
			bar( color="blue", progress="20" ) Hola
			.button-group.all-100
				label.ng-button.all-33( class="{{d.wh === 'liena' ? 'orange' : 'blue' }}" for="liena" ) En linea
				label.ng-button.all-33( class="{{d.wh === 'manual' ? 'orange' : 'blue' }}" for="manual" ) Consignacion
				label.ng-button.all-33( class="{{d.wh === 'otros' ? 'orange' : 'blue' }}" for="otros" ) Otros
				input.ng-hide.all-hide#liena( type="radio", name="wh", value="liena", ng-model="d.wh", ng-required )
				input.ng-hide.all-hide#manual( type="radio", name="wh", value="manual", ng-model="d.wh", ng-required )
				input.ng-hide.all-hide#otros( type="radio", name="wh", value="otros", ng-model="d.wh", ng-required )


			.all-100.half-top-padding( ng-if="d.wh === 'liena'" )
				.button-group
					label.ng-button.all-50( class="{{d.type === 'paypal' ? 'orange' : 'blue' }}" for="paypal" ) Paypal
					label.ng-button.all-50( class="{{d.type === 'bitcoin' ? 'orange' : 'blue' }}" for="bitcoin" ) BitCoin
					input.ng-hide.all-hide#bitcoin( type="radio", name="wh", value="bitcoin", ng-model="d.type", ng-required )
					input.ng-hide.all-hide#paypal( type="radio", name="wh", value="paypal", ng-model="d.type", ng-required )
					//- button.ng-button.all-33 Otros

			dl.all-100.half-top-padding( ng-if="d.wh === 'manual'" )
				dt Banco
				dd Numero Pepito

			.all-100.half-top-padding( ng-if="d.wh === 'otros'" )
				p ¡Cuentanos!
				.control-group
					label.ng-hide.all-hide( for="name" ) Nombre
					.control.required: input.half-padding#name( placeholder="Nombres y Apellidos *", type="text", ng-model="d.name", ng-required )
				.control-group
					label.ng-hide.all-hide(for="email") Email
					.control.required: input.half-padding#email( placeholder="E-Mail *", type="email", ng-model="d.email", ng-required  )
				.control-group
					label.ng-hide.all-hide( for="tel" ) Movil
					.control.required: input.half-padding#tel( placeholder="Celular *", type="text", ng-model="d.movil", ng-required  )
				.control-group
					label.ng-hide.all-hide( for="text" ) Municipio
					.control.required: textarea.half-padding#text( ng-model="d.text", ng-required  )
				p.tip * Requerido
				.control-group.top-space
					button.ng-button.orange.all-100.half-padding( ng-click="l.sender()" ) ¡Inscribete Ahora!
