extends ./inner-landing

block images
	li: img( src= )
	li: img( src= )
	li: img( src= )
	li: img( src= )
	viewTitle.hide-all.ng-hide Soy emprendedor

block selector
	li.all-33.align-center
		label.all-100( for="marketing" )
			.circule.push-center: .click( class="{{ l.class === 'marketing' }}-check" )
			b.color-blue Marketing Digital
		input.ng-hide.all-hide#marketing( type="radio", name="class", value="marketing", ng-model="l.class",  ng-required )
	li.all-33.align-center
		label.all-100( for="diseno-e" ) 
			.circule.push-center: .click( class="{{ l.class === 'diseno-e' }}-check" )
			b.color-blue= 'Diseño Gráfico y Publicidad'
		input.ng-hide.all-hide#diseno-e( type="radio", name="class", value="diseno-e", ng-model="l.class",  ng-required )
	li.all-33.align-center
		label.all-100( for="video-e" ) 
			.circule.push-center: .click( class="{{ l.class === 'video-e' }}-check" )
			b.color-blue Medios Audiovisuales
		input.ng-hide.all-hide#video-e( type="radio", name="class", value="video-e", ng-model="l.class", ng-required )
