extends ./inner-landing

block images
	li: img.all-100( src=cache('carrusel2-960.jpg') )
	li.quarter-top-padding: img.all-100( src=cache('carrusel11-960.jpg') )
	li.quarter-top-padding: img.all-100( src=cache('carrusel12-960.jpg') )
	viewTitle.hide-all.ng-hide Soy estudiante

block selector
	li.all-33.align-center
		label.all-100( for="diseno" )
			.circule.push-center: .click( class="{{ l.class === 'diseno' }}-check" )
			b.color-blue= 'Diseño Gráfico'
		input.ng-hide.all-hide#diseno( type="radio", name="class", value="diseno", ng-model="l.class",  ng-required )
	li.all-33.align-center
		label.all-100( for="3d" )
			.circule.push-center: .click( class="{{ l.class === '3d' }}-check" )
			b.color-blue Desarrollo 3D
		input.ng-hide.all-hide#3d( type="radio", name="class", value="3d", ng-model="l.class",  ng-required )
	li.all-33.align-center
		label.all-100( for="video" )
			.circule.push-center: .click( class="{{ l.class === 'video' }}-check" )
			b.color-blue Audiovisuales
		input.ng-hide.all-hide#video( type="radio", name="class", value="video", ng-model="l.class", ng-required )


