.all-100.double-top-space.orange.toBisel: .ng-grid.push-center.align-center.tiny-100.small-100.medium-85.large-65.bisel.orange.xlarge-55.done.half-padding
	h2 Tu inscripción ha sido exitosa
	h1 ¡Gracias por tu apoyo!