.max-padding.all-100.justi
	.all-100: .orange.toBisel: .ng-grid.bisel.orange.top-padding.tiny-100.small-85.medium-75.large-65.xlarge-55
		h3.white.align-center Nuestro propósito
		p.align-center Empoderar tecnológicamente a Latinoamérica con talleres y laboratorios a través de tecnologías con código abierto para fortalecer e innovar economías locales y auto-sostenibles.
		p.align-center Clan DIGITAL es una iniciativa que promueve el uso y apropiación de nuevas tecnologías que liberan el potencial humano en pro de la innovación educativa y social.

	.all-100.double-vertical-padding: .ng-grid: .column-group.gutters
		h3.align-center.all-100 Propuesta de Valor
		.all-50.tiny-100.small-100.medium-100: p Los laboratorios Clan DIGITAL son virtuales y presenciales para difundir conocimiento que reduzca la actual brecha tecnológica en nuestro continente y se promueva su uso responsable.

		.all-50.tiny-100.small-100.medium-100: p Lo logramos generando consciencia en el SER, brindándole capacitación en tecnologías abiertas para empoderarlo monetizando su trabajo con acompañamiento, a través de nuestra red de empresarios y talentos.

	.all-100.blue: .ng-grid: .column-group.toBisel
		.all-50.bisel.blue.show-xlarge.show-large.hide-all
			figure.ng-image
				img( src=cache('carrusel2-x260.jpg') )
				figcaption.dark.over-bottom Profesor, por su compromiso, enseñanzas y por entrar en nuestros corazones ¡ muchas gracias !
		.all-50.tiny-100.small-100.medium-100.half-left-padding
			ul
				h2.white Nuestros laboratorios
				li Empoderamiento del SER.
				li Fomento, uso y apropiación de tecnologías abiertas.
				li Producción y edición de imagen. Desarrollo web.
				li Producción y edición audiovisual.
				li Producción de contenidos digitales (Animación y videojuegos).
				li Emprendimiento de base tecnológica.

	.all-100.double-vertical-padding: .ng-grid: .column-group.gutters
		.all-50.vertical-padding.tiny-100.small-100.medium-100
			h3.align-center Responsabilidad Social
			p Clan DIGITAL apoya a las empresas con proyectos tecnológicos a través del modelo de Responsabilidad Social Empresarial.º
			p Con el apoyo de los puntos Vive Digital, las empresas y las alcaldías, desarrollamos talleres que permiten principalmente a las poblaciones de escasos recursos promover nuevos modelos económicos para el desarrollo de la región.
		.all-50.vertical-padding.tiny-100.small-100.medium-100
			h3.align-center Transferencia de conocimiento
			p Clan DIGITAL promueve el libre conocimiento y acceso a la información. Todos los proyectos realizados son registrados bajo la licencia Creative Commons, para que las empresas y la comunidad se puedan beneficiar de las investigaciones realizadas y puedan replicar sus competencias para prolongar el impacto que tienen las nuevas tecnologías en la región.

	.all-100.blue: .ng-grid: .column-group.toBisel
		.all-50.tiny-100.small-100.medium-100.half-right-padding
			ul
				h2.white Nuestros objetivos
				li Disminuir la piratería y el software ilegal.
				li Reducir de la brecha digital que tienen los municipios.
				li Incentivar la producción de contenidos a través de tecnologías abiertas.
				li Promover actividades para aprovechar el tiempo libre de los jóvenes.
				li Generación de nuevas economías locales y global.
				li Vinculación de empresarios y talentos a nuestra red Empoderamiento y mejora de calidad de vida.
				li Impulsar el uso productivo e infraestructura de los puntos PVD y PVD+
		.all-50.bisel.blue.show-xlarge.show-large.hide-all
			figure.ng-image
				img( src=cache('clan-960.jpg') )
				figcaption.dark.over-bottom.align-right Gracias al programa Clan DIGITAL y su misión. Lo que hemos aprendido es increíble.

	.all-100.double-vertical-padding: .ng-grid.vertical-padding
		h3.align-center Alianza Empresarial
		p.align-center.push-center.all-70.tiny-100.small-100.medium-100 Clan DIGITAL es el programa estrella de aprendizaje inmersivo de OpenSAI y gracias a ello, nuestra relación con empresas del sector público y privado fortalece la inversión en Responsabilidad Social Empresarial, para que los involucrados puedan acceder a los incentivos tributarios que ofrece el gobierno.

