.max-padding.all-100
	.blue.all-100.vertical-padding: .ng-grid
		h1.align-center texto
		p.align-center texto

	.white.all-100.vertical-padding: .ng-grid
		p texto

	.blue.all-100.vertical-padding: .ng-grid
		p texto