.max-padding.all-100
	.all-100: .orange.toBisel: .ng-grid.bisel.orange.top-padding.tiny-100.small-85.medium-75.large-65.xlarge-55
		h3.white.align-center Titulo1
		p.align-center Texto1
		p.align-center CLAN es una iniciativa para promover el uso y apropiación de nuevas tecnologías para la innovación educativa y social.

	.all-100.double-vertical-padding: .ng-grid: .column-group.gutters
		h3.align-center.all-100 Propuesta de valor
		.all-50.tiny-100.small-100.medium-100: p Los laboratorios de CLAN son virtuales y presenciales, de esta manera podemos difundir conocimiento para cerrar la brecha tecnológica que existe en nuestro continente.

		.all-50.tiny-100.small-100.medium-100: p Los laboratorios de CLAN son virtuales y presenciales, de esta manera podemos difundir conocimiento para cerrar la brecha tecnológica que existe en nuestro continente.

	.all-100.blue: .ng-grid: .column-group.toBisel
		.all-50.bisel.blue.show-xlarge.show-large.hide-all
			figure.ng-image
				img( src=cache('carrusel2-x260.jpg') )
				figcaption.dark.over-bottom Profe!! TE AMO!!
		.all-50.vertical-padding.tiny-100.small-100.medium-100
			ul
				h2.white Nuestros laboratorios impactan las siguientes áreas:
				li Empoderamiento del SER.
				li Producción de contenidos digitales.
				li Animacion 3D
				li Video Juegos
				li Ilustracion vectorial
				li Diagramación y maquetación
				li Desarrollo web
				li Produccion y edicion audiovisual

	.all-100.double-vertical-padding: .ng-grid: .column-group.gutters
		.all-50.tiny-100.small-100.medium-100
			h3.align-center Titulo2
			p Texto2
		.all-50.vertical-padding.tiny-100.small-100.medium-100
			h3.align-center Transferencia de conocmiento
			p CLAN es una iniciativa para promover el uso y apropiación de nuevas tecnologías para la innovación educativa y social.

	.all-100.blue: .ng-grid: .column-group.toBisel
		.all-50.vertical-padding.tiny-100.small-100.medium-100
			ul
				h2.white Nuestros Objectivos
				li Empoderamiento del SER.
				li Producción de contenidos digitales.
				li Animacion 3D
				li Video Juegos
				li Ilustracion vectorial
				li Diagramación y maquetación
				li Desarrollo web
				li Produccion y edicion audiovisual
		.all-50.bisel.blue.show-xlarge.show-large.hide-all
			figure.ng-image
				img( src=cache('clan-960.jpg') )
				figcaption.dark.over-bottom

	.all-100.double-vertical-padding: .ng-grid.vertical-padding
		h3.align-center Alianza Empresarial
		p.align-center Los laboratorios de CLAN son virtuales y presenciales, de esta manera podemos difundir conocimiento para cerrar la brecha tecnológica que existe en nuestro continente.

