.max-padding.all-100
	.all-100: .orange.toBisel: .ng-grid.bisel.orange.top-padding
		h3.align-center Titulo1
		p.align-center Texto1
		p.align-center CLAN es una iniciativa para promover el uso y apropiación de nuevas tecnologías para la innovación educativa y social.

	.all-100.vertical-padding: .ng-grid: .column-group.gutters
		h3.align-center Propuesta de valor
		.all-50: p Los laboratorios de CLAN son virtuales y presenciales, de esta manera podemos difundir conocimiento para cerrar la brecha tecnológica que existe en nuestro continente.

		.all-50: p Los laboratorios de CLAN son virtuales y presenciales, de esta manera podemos difundir conocimiento para cerrar la brecha tecnológica que existe en nuestro continente.

	.all-100.vertical-padding: .ng-grid.blue: .column-group.toBisel
		.all-50.bisel.blue
		.all-50
			ul
				h2 Nuestros laboratorios impactan las siguientes áreas:
				li Empoderamiento del SER.
				li Producción de contenidos digitales.
				li Animacion 3D
				li Video Juegos
				li Ilustracion vectorial
				li Diagramación y maquetación
				li Desarrollo web
				li Produccion y edicion audiovisual

	.all-100.vertical-padding: .ng-grid: .column-group.gutters
		.all-50
			h3.align-center Titulo2
			p Texto2
		.all-50
			h3.align-center Transferencia de conocmiento
			p CLAN es una iniciativa para promover el uso y apropiación de nuevas tecnologías para la innovación educativa y social.

	.all-100.vertical-padding: .ng-grid.blue: .column-group.toBisel
		.all-50
			ul
				h2 Nuestros Objectivos
				li Empoderamiento del SER.
				li Producción de contenidos digitales.
				li Animacion 3D
				li Video Juegos
				li Ilustracion vectorial
				li Diagramación y maquetación
				li Desarrollo web
				li Produccion y edicion audiovisual
		.all-50.bisel.blue

	.all-100.vertical-padding: .ng-grid: .all-100
		h3.align-center Alianza Empresarial
		p.align-center Los laboratorios de CLAN son virtuales y presenciales, de esta manera podemos difundir conocimiento para cerrar la brecha tecnológica que existe en nuestro continente.

