.double-top-padding.all-100.blue: .ng-grid
	.column-group.gutters
		ul.all-50.unstyled
			block images
		form.all-50.form-ng
			include ../mix/text
			ul.select.all-100.horizontal-gutters.column-group
				block selector
			include ../mix/estudiante
