.all-100.blur.minum( [style.backgroundImage]="image" )
	nav.ng-navigation.ng-grid.mosxh.bar
		ul.menu.horizontal.white.push-left
			li: a( href="/")
				img(src='cdn.clan/png/logo-33.png')
				span.hide-all CLAN Digital
			li( [hidden]="show" )
				a: span {{name}}
		ul.menu.horizontal.white.push-right
			//-li: a( href="/donacion" ) Donativos
			li: a( href="http://opensai.org/donaciones" ) Donativos
			li: a( href="/contacto" ) Contacto
			li
				a.fa.fa-share-alt
				ul.submenu
					li: a.fa.fa-facebook-official
					li: a.fa.fa-twitter
	nav.ng-navigation.ng-grid.mosxh
		ul.pagination.chevron
			li.previous: a.put( (click)="isClick(-1)" ): span Atras
			li.next: a.put( (click)="isClick(1)" ): span Siguiente

.all-100.blur: router-outlet

footer.all-70.medium-x80.small-100.tiny-100.push-center
	nav.ng-navigation.large-double-vertical-padding.medium-vertical-padding.small-no-padding.tiny-no-padding.push-center.align-center
		ul.orange.breadcrumbs.double-top-padding
			li: a.small( href="tel:+573208192263" )
				i.fa.fa-phone
				| (+57) 3208192263
			li: a.small( href="mailto:academic@opensai.org" ) academic@opensai.org
			//- li: a.small( href="geo:?q=Ladirecion" ) Direccion
		ul.orange.breadcrumbs
			//-li: a.small( href="mailto:academic@opensai.org" ) academic@opensai.org
			li: a.small( href="http://opensai.org" ) OpenSai
			li: a.small( href="http://twitter.com/OpenSAI" ) @OpenSAI
			li: a.small( href="http://facebook.com/opensai.org" ) /openSAI.org
		//-ul.orange.breadcrumbs.double-bottom-padding
			li: .small Bogota
			li: .small Colombia