doctype html
html( lang="es" )
	head( prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# product:http://ogp.me/ns/product#" )
		base( href="/")

		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		meta( name="viewport", content="width=device-width, initial-scale=1" )
		link( href='https://fonts.googleapis.com/css?family=Poppins:400,600,500,300&subset=latin,devanagari,latin-ext' rel='stylesheet' type='text/css')
		link( rel="stylesheet", type="text/css", href= '//' + CONFIG.cdn + '/css/ink.css' )
		link( rel="stylesheet", type="text/css", href= '//' + CONFIG.cdn + '/css/flex.css' )
		link( rel="stylesheet", type="text/css", href= '//' + CONFIG.cdn + '/css/start.css' )

		title CLAN Digital

		//- OG
		meta( property="og:description", content="Clan Digital" )
		meta( property="og:locale", content="es" )
		meta( property="og:title", content="Clan Digital" )
		meta( property="og:type", content="article")
		meta( property="og:url", content="http://clan.opensai.org/" )

		//- FB
		meta( property="fb:app_id", content="512044862330230")

		//- Twitter
		meta( name="twitter:card", content="summary_large_image" )
		meta( name="twitter:site", content="@openClanDIGITAL")

		script(type="text/javascript", src= '//' + CONFIG.cdn + '/js/index.js' )

	body.all-100
		.all-50.push-center
			h1 Cargando..


